<!--<div class="container">-->
<!--  <h1>Popup</h1>-->
<!--  <button nz-button nzType="primary" (click)="sendMessage()">发送消息</button>-->
<!--</div>-->

<div class="container">
  <div nz-row>
    <div nz-col nzSpan="8">
      发送消息
    </div>
    <div nz-col nzSpan="8">
      <button nz-button nzType="primary" (click)="sendMessage()">获取存储数据</button>
      <button nz-button nzType="primary" (click)="sendMessage()">设置存储数据</button>
      <button nz-button nzType="primary" (click)="sendMessage()">清理存储数据</button>
    </div>
    <div nz-col nzSpan="8">

    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="8">

    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="8">

    </div>
  </div>
</div>

