<!--<div class="container">-->
<!--  <h1>Popup</h1>-->
<!--  <button nz-button nzType="primary" (click)="sendMessage()">发送消息</button>-->
<!--</div>-->

<div class="container">
  <div nz-row>
    <button nz-col nzSpan="8" nz-button nzType="primary" (click)="getStorage()">获取存储数据</button>
    <button nz-col nzSpan="8" nz-button nzType="primary" (click)="registerDom()">添加DOM</button>
    <button nz-col nzSpan="8" nz-button nzType="primary" (click)="handleTab()">调用bg函数</button>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="8">

    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="8">

    </div>
    <div nz-col nzSpan="8">

    </div>
  </div>
</div>

